.text-preview {
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--c--contextuals--background--surface--secondary);

  &__banner {
    flex-shrink: 0;
    padding: var(--c--globals--spacings--2xs) var(--c--globals--spacings--xs);
    border-bottom: 1px solid var(--c--contextuals--border--surface--primary);
    color: var(--c--contextuals--content--semantic--neutral--secondary);
    background-color: var(--c--contextuals--background--surface--primary);
    font-size: 14px;
  }

  &__editor {
    flex: 1;
    min-height: 0;
  }

  .cm-editor {
    height: 100%;
  }
}

.text-preview__state {
  padding: var(--c--globals--spacings--xs);
}

