.pdf-preview-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  min-height: 0;
}

.pdf-container__iframe {
  border: none;
  flex: 1 1 auto;
  min-height: 0;
  display: block;
  width: 100%;
  height: 100%;
}
