.explorer__filters__item {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.explorer__filters__contact {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.explorer__filters__check {
  margin-left: auto;
  font-size: 1rem;
}
